*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", capriola;
}
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url('bg.png')no-repeat;
    background-size: cover;
    background-position: bottom;
}
.piket{
    margin-top: 100px;
    text-align: center;
}
img {
    border-radius: 50%;
    background-position: center;
    height: 150px;
}
h2{
    text-align: center;
    color: white;
}
.box {
    background-color: #86ADD7;
    color: white;
    border-radius: 25px;
    width: 700px;
    height: 100px;
    
}