.me-layout .loading {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.me-layout .loading .texts {
   font-size: 4em;
   color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
   background-image: linear-gradient(#0029FF, #ABF0FF);
}

.me-layout .loading h3 {
   opacity: 0.5;
}