.profile-page {
	background-image: url("/assets/website-bg.png");
	background-size: cover;
	background-position: center;
	min-height: calc(100vh - 80px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile-page .card {
	display: flex;
	gap: 1rem;
	align-items: center;
	height: fit-content;
	width: fit-content;
}

.profile-page .card img {
	width: 13em;
	aspect-ratio: 1/1;
	border-radius: 50%;
	object-fit: cover;
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .2);
}

.profile-page .card .leter-profile {
	width: 13rem;
	aspect-ratio: 1/1;
	font-size: 6em;
	border-radius: 50%;
	text-align: center;
	line-height: 13rem;
	background: lightskyblue;
	color: white;
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .1);
}

.profile-page .card .content-text {
	height: 13em;
	padding: 2em;
	border-radius: 2em;
	position: relative;
	background-color: lightskyblue;
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .1);
}

.profile-page .card .content-text *:nth-child(1) {
	margin-bottom: .2em;
}

.profile-page .card .content-text *:nth-child(2) {
	margin-bottom: .5em;
}

.profile-page .card .content-text .info * {
	display: inline;
}

.profile-page .card .content-text button.logout {
	position: absolute;
	bottom: 2em;
	right: 2em;
}

.profile-page .card .content-text button.delete {
	position: absolute;
	bottom: 2em;
	right: 10em;
}

.profile-page .card .content-text button.edit {
	position: absolute;
	bottom: 2em;
	left: 2em;
}