.login-page {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url("/assets/website-bg.png") no-repeat;
	background-size: cover;
	background-position: center;
}

.login-page .wrapper {
	width: 420px;
	padding: 30px 40px;
	margin: 50px auto;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	text-align: center;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	color: #0a0a0a;
}

.login-page .wrapper h1 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 1.2rem;
}

.login-page form input:not(.btn) {
	width: 92%;
	outline: none;
	border: 1px solid black;
	padding: 12px 20px;
	margin-bottom: 30px;
	border-radius: 20px;
	background: #fff;
}

.login-page form .inp_container label {
	display: block;
	text-align: left;
	margin-bottom: 0.5em;
}

.login-page .akun {
	margin: -5px 0 20px 5px;
	color: #0a0a0a;
	cursor: pointer;
}

.login-page .btn-field {
	width: 100%;
	display: flex;
	gap: 1em;
}

.login-page .btn {
	flex-grow: 1;
}
